@page
@using Framework.Utilities
@model HS.EndPoints.RazorPages.ShopUI.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "داشبرد مدیریت";
}

@if(@User.IsInRole("Admin"))
{
    <div class="col-md-12">
<div class="row">
    <div class="col-lg-3 col-6">
        <div class="stat-box bg-cyan shadow">
            <a asp-page="./User/Index" >
                <div class="stat">
                    <div class="counter-down">@Model.dashboardViewModel.CountCustomer</div>
                    <div class="h3">تعداد مشتری ها</div>
                </div><!-- /.stat -->
                <div class="visual">
                    <i class="icon-user"></i>
                </div><!-- /.visual -->
            </a>
        </div><!-- /.stat-box -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 col-6">
        <div class="stat-box bg-blue shadow">
            <a asp-page="./Device/Index">
                <div class="stat">
                    <div class="counter-down" >@Model.dashboardViewModel.CountExpert</div>
                    <div class="h3">تعداد کارشناس ها</div>
                </div><!-- /.stat -->
                <div class="visual">
                    <i class="icon-wrench"></i>
                </div><!-- /.visual -->
            </a>
        </div><!-- /.stat-box -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 col-6">
        <div class="stat-box bg-orange shadow">
            <a asp-page="./Event/Index">
                <div class="stat">
                    <div class="counter-down" >@Model.dashboardViewModel.CountOrder</div>
                    <div class="h3">تعداد سفارشات</div>
                </div><!-- /.stat -->
                <div class="visual">
                    <i class="icon-docs"></i>
                </div><!-- /.visual -->
            </a>
        </div><!-- /.stat-box -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 col-6">
        <div class="stat-box bg-red shadow">
            <a asp-page="./Device/Index">
                <div class="stat">
                    <div class="counter-down">@Model.dashboardViewModel.CountSuggestion</div>
                    <div class="h3">تعداد پیشنهادها</div>
                </div><!-- /.stat -->
                <div class="visual">
                    <i class="icon-tag"></i>
                </div><!-- /.visual -->
            </a>
        </div><!-- /.stat-box -->
    </div><!-- /.col-lg-3 -->
</div>
</div>
<div class="row col-lg-12">
    <div class="table-responsive col-lg-6">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th><i class="icon-energy"></i></th>
                <th>سفارش دهنده</th>
                <th>هوم سرویس</th>
                <th>تاریخ ثبت</th>
                <th>جزئیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in @Model.Orders)
            {
               <tr>
                 <td>@order.Id</td>
                <td>@order.Customer.FirstName @order.Customer.LastName</td>
                <td>@order.HomeService.Name</td>
                <td>@order.RegisterDate.ToPersianString("yyyy/MM/dd")</td>
                <td class="text-center">
                   <form method="get" role="form" asp-page="OrderDetails">
                       <input type="hidden" name="OrderId" value="@order.Id">
                       <input type="submit" value="نمایش" class="btn btn-success curve">
                   </form>
                </td>
            </tr>       
            }

            آخرین سفارشات
        </tbody>
    </table>
</div>

<div class="table-responsive  col-lg-6">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th><i class="icon-energy"></i></th>
                <th>هوم سرویس</th>
                <th>کارشناس</th>
                <th>قیمت پیشنهادی</th>
                <th>تاریخ پیشنهاد</th>
                <th>سفارش</th>
            </tr>
        </thead>
        <tbody>
         @foreach (var suggestion in @Model.suggestions)
         {
              <tr>
                <td>@suggestion.Id</td>
                <td>@suggestion.Order.HomeService.Name</td>
                <td>@suggestion.Expert.FirstName @suggestion.Expert.LastName</td>
                <td>@suggestion.SuggestedPrice</td>
                <td>@suggestion.RegisterDate.ToPersianString("yyyy/MM/dd")</td>
                <td class="text-center">
                   <form method="get" role="form" asp-page="OrderDetails">
                       <input type="hidden" name="OrderId" value="@suggestion.OrderId">
                       <input type="submit" value="نمایش" class="btn btn-success curve">
                   </form>
                </td>
            </tr>    
         }
                    
            آخرین پیشنهادها
        </tbody>
    </table>
</div>
</div>
}

