@page
@using Framework.Utilities
@using HS.Domain.Core.Enums
@using System.Globalization
@model HS.EndPoints.RazorPages.UI.Areas.Admin.Pages.OrderDetailsModel
@{
    ViewData["Title"] = "مشخصات سفارش";
}
<label>جزئیات درخواست</label>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>شناسه سفارش</th>
            <th>سفارش دهنده</th>
            <th>هوم سرویس</th>
            <th>تاریخ ثبت درخواست</th>
            <th>تاریخ اجرا </th>
            <th>ساعت اجرا </th>
            <th>وضعیت</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Order.Id</td>
            <td>@Model.Order.Customer.FirstName @Model.Order.Customer.LastName</td>
            <td>@Model.Order.HomeService.Name</td>
            <td>@Model.Order.RegisterDate.ToPersianString("yyyy/MM/dd")</td>
            <td>@Model.Order.DateOfExecution.ToPersianString("yyyy/MM/dd")</td>
            <td>@Model.Order.DateOfExecution.ToString("H:mm")</td>
            <td style="color:red">@Model.Order.Status.GetEnumDisplayName()</td>
        </tr>
    </tbody>
</table>


<hr>
<label>پیشنهاد ها</label>
<br />
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>شناسه پیشنهاد</th>
            <th>شناسه سفارش</th>
            <th>کارشناس</th>
            <th>قیمت پیشنهادی </th>
            <th>تاریخ پیشنهاد </th>
            <th>تاریخ اتمام کار</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.suggestions != null)
        {
            @foreach (var item in Model.suggestions)
            {
                @if (item.ExpertId == Model.UserId || User.IsInRole("Admin") || User.IsInRole("Customer"))
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.OrderId</td>
                        <td>@item.Expert.FirstName @item.Expert.LastName</td>
                        <td style="color:red">@item.SuggestedPrice.ToString("C", CultureInfo.CurrentCulture= new CultureInfo("fa-Ir",false))</td>
                        <td>@item.RegisterDate.ToPersianString("dddd, dd MMMM,yyyy")</td>
                        <td>@item.DurationOfWork.ToPersianString("dddd, dd MMMM,yyyy")</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#SuggestionDetailsModal" HomeService="@item.Order.HomeService.Name" Order-Id="@item.Order.Id" Customer="@item.Expert.FirstName @item.Expert.LastName" Description="@item.Description" SuggId="@item.Id" asp-page-handler="Delete" class="btn btn-success curve">جزئیات پیشنهاد</a>
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>

<hr>
<div class="form-group">
    <label>توضیحات درخواست</label>
    <div class="input-group round">
        <span class="input-group-addon">
            <i class="icon-note"></i>
        </span>
        <textarea name="Description" class="form-control" rows="5">@Model.Order.Description</textarea>
    </div>
</div>
@if (@Model.Order.Status == OrderStatusEnum.Done && @User.IsInRole("Customer"))
{

    <hr>
      <form method="post" asp-page-handler="Comment">
      <input type="hidden" name="OrderId" value="@Model.Order.Id">
    <div class="form-group">
        <label style="color:red">شما میتوانید میزان رضایت خود را از عملکرد کارشناس در فرم زیر ثبت کنید</label>
        <div class="input-group round">
            <span class="input-group-addon">
                <i style="color:red" class="icon-note"></i>
            </span>
            <textarea name="Comment" class="form-control" rows="3"></textarea>
        </div>
        <br>
        <div style="float:left;">
            <button type="submit" class="btn btn-success curve">ثبت پیشنهاد<div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.00616;"></div><div class="paper-ripple__waves"></div></div></button>
        </div>
    </div>
    </form>
}
<br />

<hr>
<label>تصاویر پیوست شده</label>
<center>
    <div class="col-sm-6">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>تصاویر ثبت شده سفارش</th>
                    @if (@User.IsInRole("Admin"))
                    {
                        <th>عملیات</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.suggestions != null)
                {

                    @foreach (var item in Model.orderFiles)
                    {
                        <tr>
                            <td>
                                <a href="~/@item.Name" target="_blank">
                                    <img src="~/@item.Name" class="img-circle" style="width:100px;height:100px" alt="Cinque Terre">
                                </a>
                            </td>
                            @if (@User.IsInRole("Admin"))
                            {
                                <td>
                                    <a data-bs-toggle="modal" Order-Id="@item.OrderId" image-Id="@item.Id"  data-bs-target="#ModalDelete" class="btn btn-danger curve">حذف تصویر</a>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</center>
<hr>



<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBrandLabel">حذف تصویر </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="DeleteImage">
                    <input type="hidden" name="imageId" id="imageId" />
                    <input type="hidden" name="orderIdDelete" id="orderIdDelete" />

                    <p>آیا از حذف تصویر اطمینان دارید ؟</p>
                    <hr />
                    <div style="float:left;">
                        @if (@User.IsInRole("Admin"))
                        {
                            <button type="submit" class="btn btn-danger curve">در صورت اطمینان از حذف کلیک کنید<div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.00616;"></div><div class="paper-ripple__waves"></div></div></button>
                        }
                        <button type="button" class="btn btn-success curve " data-bs-dismiss="modal">بازگشت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SuggestionDetailsModal" tabindex="-1" role="dialog" aria-labelledby="SuggestionDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBrandLabel">جزئیات پیشنهاد </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Accept">
                    <input id="SuggId" name="SuggId" type="hidden" />
                    <div class="form-group">
                        <label>شماره سفارش</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon-key"></i>
                            </span>
                            <input name="OrderId" id="OrderId" type="text" class="form-control round" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>کارشناس</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon-user"></i>
                            </span>
                            <input name="Customer" id="Customer" type="text" class="form-control round" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>هوم سرویس سفارش</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon-wrench"></i>
                            </span>
                            <input name="HomeService" id="HomeService" type="text" class="form-control round" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>توضیحات</label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-note"></i>
                            </span>
                            <textarea id="Description" name="Description" class="form-control" rows="4" readonly></textarea>
                        </div>
                    </div>

                    <div style="float:left;">
                        <button type="button" class="btn btn-danger curve " data-bs-dismiss="modal">بازگشت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section masterjs
    {
    <script>
        $(document).ready(function() {
            $(".table a").on("click", function() {
                var OrderId = $(this).attr("image-Id");
                $("#imageId").val(OrderId);
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $(".table a").on("click", function() {
                var SuggId = $(this).attr("SuggId");
                var OrderId = $(this).attr("Order-Id");
                var Description = $(this).attr("Description");
                var Customer = $(this).attr("Customer");
                var HomeService = $(this).attr("HomeService");
                $("#SuggId").val(SuggId);
                $("#Description").val(Description);
                $("#Customer").val(Customer);
                $("#HomeService").val(HomeService);
                $("#OrderId").val(OrderId);
                $("#orderIdDelete").val(OrderId);
            });
        });
    </script>
}