@page
@model HS.EndPoints.RazorPages.UI.Areas.Admin.Pages.ProfileModel
@{
    ViewData["Title"] = "Home Service - Dashboard";
}
<div class="portlet-body edit-form">
    <div class="row">
        <div class="col-lg-6 col-md-10 m-auto m-b-30">
            <div class="text-center">
                <div class="user-box">
                    @if(Model.UserViewModel.ProfileImgUrl ==null)
                    {
                     <a href="~/media/figure/avatar.jpg" target="_blank">
                        <img id="profileImage" src="~/media/figure/avatar.jpg" alt="عکس پروفایل" class="img-circle img-responsive">
                        </a>
                    }
                    else
                    {
                     <a href="~/Images/Profiles/@Model.UserViewModel.ProfileImgUrl" target="_blank">
                        <img id="profileImage" src="~/Images/Profiles/@Model.UserViewModel.ProfileImgUrl" alt="عکس پروفایل" class="img-circle img-responsive">
                    </a>
                    }

                    <div class="user-details">
                        <h4>@Model.UserViewModel.FirstName @Model.UserViewModel.LastName</h4>
                        <p class="role"></p>
                    </div>
                </div>
            </div>
            <form enctype="multipart/form-data" id="form" class="m-t-30 m-b-30" role="form" asp-page-handler="Create" method="post">
                <input type="hidden" name="Id" value="@Model.UserViewModel.Id" />
                <input type="hidden" name="ApplicationUserId" value="@Model.UserViewModel.ApplicationUserId" />
                <div class="form-group relative mt-3 mb-4">
                    <input name="ProfileImgFile" onchange="loadFile(event)" type="file" class="form-control">
                    <div class="input-group round">
                        <input name="ProfileImgUrl" value="@Model.UserViewModel.ProfileImgUrl" type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info">
                                <i class="icon-picture"  ></i>
                                آپلود عکس
                            </button>
                        </span>
                    </div>
                    <div class="help-block"></div>
                </div>
                <hr>
                <div class="form-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txt-firstname">نام</label>
                                <div class="input-group round">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <input type="text" name="FirstName" value="@Model.UserViewModel.FirstName" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txt-lastname">نام خانوادگی</label>
                                <div class="input-group round">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <input type="text" name="LastName" value="@Model.UserViewModel.LastName" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txt-mobile">موبایل</label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-screen-smartphone"></i>
                            </span>
                            <input type="text" name="PhoneNumber" value="@Model.UserViewModel.PhoneNumber" class="form-control ltr text-left mobile">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txt-email">ایمیل</label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-envelope"></i>
                            </span>
                            <input type="email" name="Email" asp-for="@Model.UserViewModel.ApplicationUser.Email" class="form-control ltr text-left" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txt-iban">شماره شبا</label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="fa fa-barcode"></i>
                            </span>
                            <input type="text" name="ShebaNumber" value="@Model.UserViewModel.ShebaNumber" class="form-control ltr text-left iban" maxlength="27">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt-card">شماره کارت</label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-credit-card"></i>
                            </span>
                            <input type="text" name="CardNumber" value="@Model.UserViewModel.CardNumber" class="form-control ltr text-left card">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="slc-province">استان</label>
                                <select name="CityId" asp-for="@Model.UserViewModel.CityId" class="form-control select2 round" asp-items="@(new SelectList(Model.UserViewModel.Cities, "Id", "Name"))">
                                </select>
                            </div>
                        </div>
                    </div>

                    @if (User.IsInRole("Expert"))
                    {
                        <div class="form-group">
                            <label for="slc-province">مهارت ها</label>
                            <select name="HomeServicesIds" name="HomeServicesIds" class="form-control select2 round"  multiple  asp-items="@(new SelectList(Model.UserViewModel.SelectHomeServices, "Id", "Name"))">
                                @foreach (var homeService in @Model.UserViewModel.HomeServicesUser)
                                {
                                    <option value="@homeService.Id" selected="selected">@homeService.Name</option>
                                }

                            </select>
                        </div>


                        <div class="form-group">
                            <label>بیوگرافی</label>
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-location-pin"></i>
                                </span>
                                <textarea name="Biography" class="form-control" rows="4">@Model.UserViewModel.Biography</textarea>
                            </div>
                        </div>

                    }





                    <div class="form-group">
                        <label>آدرس</label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-location-pin"></i>
                            </span>
                            <textarea name="Address" class="form-control" rows="4">@Model.UserViewModel.Address</textarea>
                        </div>
                    </div>

                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-info btn-round">
                        <i class="icon-check"></i>
                        ذخیره
                    </button>
                    <a href="#" class="btn btn-warning btn-round pull-left">
                        <i class="icon-close"></i>
                        بازگشت
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section masterjs
    {
    <script src="~/assets/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/plugins/select2/dist/js/i18n/fa.js"></script>
    <script src="~/assets/js/pages/select2.js"></script>
    }

<script>
  var loadFile = function(event) {
    var output = document.getElementById('profileImage');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>