@using System.Globalization
@using Framework.Utilities
@{

}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="rtl">
<head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="fontiran.com:license" content="NE29X">
    <link rel="shortcut icon" href="/assets/images/favicon.png">

    <!-- BEGIN CSS -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/bootstrap5/css/bootstrap.rtl.min.css">
    <link href="~/assets/plugins/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="~/assets/plugins/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="~/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/assets/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/assets/plugins/paper-ripple/dist/paper-ripple.min.css" rel="stylesheet">
    <link href="~/assets/plugins/iCheck/skins/square/_all.css" rel="stylesheet">
    <link href="~/assets/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
    <link href="~/assets/plugins/clockpicker/dist/bootstrap-clockpicker.min.css" rel="stylesheet">

    <link href="~/assets/plugins/kamadatepicker/kamadatepicker.min.css" rel="stylesheet">
    <link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/colors.css" rel="stylesheet">
    <link href="~/assets/css/Custom.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- END CSS -->
</head>

<body class="active-ripple theme-blue fix-header sidebar-extra">
    <style>
        table td,th {
            text-align: center;
        }
    </style>
    <!-- BEGIN LOEADING -->
    <div id="loader">
        <div class="spinner"></div>
    </div><!-- /loader -->
    <!-- END LOEADING -->
        <partial name="./PartialView/_Header" />
    <!-- END HEADER -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
                <partial name="./PartialView/_SideBar" />
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div id="page-content">
            <div class="row">
                <!-- BEGIN BREADCRUMB -->
                <div class="col-md-12">
                    <div class="breadcrumb-box border shadow">
                        <ul class="breadcrumb">
                            @ViewData["Title"]

                        </ul>
                        <div class="breadcrumb-left">
                            @DateTime.Now.ToPersianString("dddd, dd MMMM,yyyy").ToString()
                            <i class="icon-calendar"></i>
                        </div><!-- /.breadcrumb-left -->
                    </div><!-- /.breadcrumb-box -->
                </div><!-- /.col-md-12 -->
                <!-- END BREADCRUMB -->

                <div class="col-12">
                    <div class="portlet box border shadow">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h3 class="title">
                                </h3>
                            </div><!-- /.portlet-title -->
                            <div class="buttons-box">
                                <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                                    <i class="icon-size-fullscreen"></i>
                                </a>
                                <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                                    <i class="icon-arrow-up"></i>
                                </a>
                            </div><!-- /.buttons-box -->
                        </div><!-- /.portlet-heading -->
                        <div class="portlet-body">
                            <div>
                                @RenderBody()
                            </div>
                        </div><!-- /.portlet-body -->
                    </div><!-- /.portlet -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /#page-content -->
        <!-- END PAGE CONTENT -->

    </div><!-- /#wrapper -->
    <!-- END WRAPPER -->

        <div class="row  fixed-bottom">
        <div class="col-md-12">
            <div class="copyright">
                <p class="float-start">
                    کلیه حقوق  محفوظ می باشد .
                </p>
                <p class="float-end ltr tahoma">
                    <span>©</span>
                    <a href="/Admin" target="_blank">Maleki</a>
                </p>
            </div><!-- /.copyright -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->


    <!-- END CODE MODAL -->
    <!-- BEGIN JS -->
    <script src="/assets/plugins/jquery/dist/jquery-3.1.0.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/plugins/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/assets/plugins/paper-ripple/dist/PaperRipple.min.js"></script>
    <script src="/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/assets/plugins/screenfull/dist/screenfull.min.js"></script>
    <script src="/assets/plugins/iCheck/icheck.min.js"></script>
    <script src="/assets/plugins/switchery/dist/switchery.js"></script>
    <script src="/assets/js/core.js"></script>
    <script src="/assets/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/pages/datatable.js"></script>
    <script src="/assets/plugins/kamadatepicker/kamadatepicker.min.js"></script>
    <script src="/assets/js/pages/calendar-kama.js"></script>
    <script src="/assets/plugins/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
    <script src="/assets/js/pages/clock.js"></script>

    <script src="/assets/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="/assets/plugins/select2/dist/js/i18n/fa.js"></script>
    <script src="/assets/js/pages/select2.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("masterjs", required: false)

</body>

</html>