@page
@using Framework.Utilities
@using System.ComponentModel.DataAnnotations;
@using HS.Domain.Core.Enums
@model HS.EndPoints.RazorPages.UI.Areas.Admin.Pages.OrderModel
@{
    ViewData["Title"] = "سفارش ها";
}


<a class="btn btn-success curve " style="float:right" data-bs-toggle="modal" data-bs-target="#createBrand">سفارش سرویس جدید</a>
<br />
<br />

<table class="table table-bordered table-striped table-hover" id="data-table">
    <thead>
        <tr>
            <th>شناسه سفارش</th>
            <th>سفارش دهنده</th>
            <th>هوم سرویس</th>
            <th>تاریخ ثبت درخواست</th>
            <th>تاریخ اجرا </th>
            <th>ساعت اجرا </th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders != null)
        {
            @foreach (var item in Model.Orders)
            {

                <tr>
                    <td>@item.Id</td>
                    <td>@item.Customer.FirstName @item.Customer.LastName</td>
                    <td>@item.HomeService.Name</td>
                    <td>@item.RegisterDate.ToPersianString("dddd, dd MMMM,yyyy")</td>
                    <td>@item.DateOfExecution.ToPersianString("dddd, dd MMMM,yyyy")</td>
                    <td>@item.DateOfExecution.ToString("H:mm")</td>
                    <td>@item.Status.GetEnumDisplayName()</td>
                    <td>
                        <form method="get">
                            <div class="portlet-body">
                                <input type="hidden" name="id" id="id" value="@item.Id">
                                <button type="submit" asp-page-handler="Delete" class="btn btn-danger curve" disabled>حذف</button>
                            </div>
                        </form>
                    </td>
                </tr>
            }

        }

    </tbody>
</table>

<div class="modal fade" id="createBrand" tabindex="-1" role="dialog" aria-labelledby="createBrandLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBrandLabel">ثبت درخواست سرویس جدید</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-page-handler="Create">
                    <div class="form-group">
                        <label>هوم سرویس</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon-wrench"></i>
                            </span>
                            <select name="HomeServiceId" name="HomeServiceId" class="form-control round" asp-items="Model.HomeServices"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>تاریخ اجرا</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon-calendar"></i>
                            </span>
                            <input name="DateOfExecution" type="text" class="form-control round" id="kama-datepicker" placeholder="تاریخ تولد" value="1401/01/01">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>ساعت اجرا</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon-clock"></i>
                            </span>
                            <input name="Clock" type="text" class="form-control clockpicker-autoclose round">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>توضیحات</label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-note"></i>
                            </span>
                            <textarea name="Description" class="form-control" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group relative">
                        <input name="FormFile" id="FormFile" class="form-control" type="file" placeholder="برای آپلود کلیک کنید" multiple />
                        <div class="input-group round">
                            <span class="input-group-btn">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-picture"></i>
                                        آپلود عکس
                                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                    </button>
                                </span>
                        </div><!-- /.input-group -->
                        <div class="help-block"></div>
                    </div>
                    <div style="float:left;">
                        <button type="submit" class="btn btn-info curve">ذخیره<div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.00616;"></div><div class="paper-ripple__waves"></div></div></button>
                        <button type="button" class="btn btn-danger curve " data-bs-dismiss="modal">بازگشت</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section masterjs
    {
    <script>
        $(document).ready(function() {
            $(".table a").on("click", function() {
                var dataId = $(this).attr("data-id");
                var dataName = $(this).attr("data-name");
                $("#Name").val(dataName);
                $("#Id").val(dataId);
            });
        });
    </script>
}