@page
@model HS.EndPoints.RazorPages.UI.Pages.HomeServicesModel
@{
    Layout = "_Layout";
}

<section class="section-padding-top-heading bg-accent">
    <div class="container">
        <div class="row gutters-20">
            <div class="col-xl-12 col-lg-8">
                <div class="heading-layout2">
                    <h2 class="heading-title">خدمات مرتبط با @Model.homeServices.First().HomeServiceSubCategory.Name</h2>
                </div>
                @foreach (var homeService in @Model.homeServices)
                {
                    <div class="product-box-layout2">
                        <div class="item-img">
                            <a href="single-product1.html"><img style="margin:10px" src="~/Images/HomeService/@homeService.ImgSrc" alt="@homeService.Name"></a>
                        </div>
                        <div class="item-content">
                            <h3 class="item-title"><a href="single-product1.html">@homeService.Name</a></h3>
                            <ul class="entry-meta">
                                <li><i class="fas fa-tag"></i><a href="#">@homeService.HomeServiceSubCategory!.Name</a></li>
                                <li><i class="far fa-eye"></i>125 بازدید</li>
                            </ul>
                            <p>@homeService.Description
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن  …                             <div class="item-price">قیمت پایه سرویس : @homeService.BasePrice</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>